.search {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px
}

.margin {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}




.center {

    text-align: center;
    margin-top: 10px;
}