.a {
    padding: 10px;
    margin: 1%;
    margin-left: 1.5%;

    width: 430px;
}


ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

.Card-Title {
    margin-top: 15px;
}

.display {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

.not-active {
    cursor: pointer;
    color: #d6d6d6;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;

}

.not-active-Pokedex {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;

}

a:hover {
    color: #ffffff;
    text-decoration-line: none;
}